.mikke
*.mikke
*.log
*.mikke
*.cycdx
*.cyfit
*.html
*.rpt
*.rpt
*.mikke
*.Emil
*.Krist
*.mabo
*.mag94
*.xml
*codegentemp/
*CoretexM3/
*Debug/
*Generated_Source/
*.xml
*.svd

RTOS_TEMPLATE-master/PlanteModul.cydsn/Export/PSoCCreatorExportIDE.xml
